.top-content img {
  height: 200px;
  width: auto;
  padding: 30px 0;
}

.destination-tab {
  list-style-type: none;
  display: flex;
  gap: 32px;
  justify-content: center;
  height: 32px;
  margin-bottom: 24px;
}

.destination-tab a {
  text-decoration: none;
  color: var(--blue-300);
}

.destination-tab li {
  height: 100%;
  border-bottom: 3px solid transparent;
  transition: border-bottom-color 0.5s ease;
}

.destination-tab .active li {
  color: var(--white);
  border-bottom: 3px solid white;
}

.destination-tab li:hover {
  color: var(--white);
  border-bottom: 3px solid rgba(255, 255, 255, 50%);
}

.destination-tab-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destination-text h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.destination-data .distance {
  margin-bottom: 24px;
}

.destination-data h2 {
  margin-bottom: 12px;
}





/* Tablet */
@media (min-width: 768px) {
  .top-content img {
    height: 380px;
    padding: 40px 0;
    /* width: auto; */
  }
}

/* Desktop */
/* @media (min-width: 768px) {

} */
