.technology-img {
    margin-top: 64px;
    height: 250px;
}

.technology-img img {
    height: 250px;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

.technology-tab {
    margin-bottom: 40px;
}

.technology-tab span{
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.technology-tab span:hover {
    border: 1px solid var(--white);
}

.technology-tab .active span {
    background-color: var(--white);
    color: var(--blue-900);
}

.technology-tab-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.technology-tab-content h2 {
    color: rgba(255, 255, 255, 0.5);
}

.technology-tab-content h1 {
    text-transform: uppercase;
}

/* Tablet */
@media (min-width: 768px) {
    .technology-img, .technology-img img {
        height: 350px;
    }
    .technology-tab span{
        width: 56px;
        height: 56px;
    }
    .technology-tab-content {
        max-width: 512px;
        margin: 0 auto;
    }
}

/* Laptop */
@media (min-width: 1024px) {
    /* .technology-img, .technology-img img {
        height: 350px;
    } */
    .technology-tab span{
        width: 80px;
        height: 80px;
    }
}
