section {
  padding: var(--space-300);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.space-subtitle {
  color: var(--blue-300);
  text-transform: uppercase;
}

.button-container {
  padding: 120px 0;
}

.explore-btn {
  border-radius: 100%;
  width: 9rem;
  aspect-ratio: 1;
  border: none;
  color: var(--blue-900);
  text-transform: uppercase;
  font-weight: 300;
  transition: box-shadow 0.5s ease;
}

.explore-btn:hover {
  box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.1);
  color: rgba(12, 14, 24, 0.5);
  overflow: visible;
}



/* Tablet */
@media (min-width: 768px) {
  section {
    padding: var(--space-1600) var(--space-500);
  }
  .text-container {
    padding: 0 88px;
  }
  .explore-btn {
    width: 17rem;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  section {
    padding: var(--space-1600) 10%;
  }
  .home-main {
    position: relative;
    margin: 10vh auto 0 auto;
    max-width: 1110px;
    display: flex;
    overflow: visible;
  }
  .text-container {
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
    width: 50%;
    min-width: 500px;
    text-align: left;
  }
  .button-container {
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    overflow: visible;
  }
  .explore-btn {
    width: 17rem;
  }
}