header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--space-1200);
    margin-top: 40px;
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px); 
    -webkit-backdrop-filter: blur(10px);
}
.mobile-nav-toggle {
    display: none;
}

/* Left */
header div {
    display: flex;
    justify-content: space-between;
}

.logo-image {
    width: 48px;
    height: 48px;
    margin: 0 var(--space-800);
}

.line-image {
    position: absolute; 
    top: 45px;
    left: 175px;
    height: 2px;
    width: 20%;
    z-index: 3; 
}

/* Right */
nav {
    height: 100%;
    /* min-width: 80%; */
    /* max-width: 80%; */
    justify-content: right;
    padding: 0 64px;
}
#primary-navigation {
    display: flex;
    gap: 48px;    
} 
#primary-navigation li {
    height: 96px;
    min-width: 100%;
    padding-top: 37px;
    border-bottom: 3px solid transparent;
}
#primary-navigation li:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 50%);
}
#primary-navigation .active li {
    border-bottom: 3px solid white;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

span {
    font-weight: 700;
    line-height: normal;
    margin-right: var(--space-150);
}

/* Tablet */
@media (max-width: 1023px) {
    header {
        margin-top: 0;
    }
    nav {
        padding: 0 40px 0 0;
        width: 100%;
    }
    /* Left */
    .logo-image {
        margin: 0 40px;
    }
    .line-image {
        display: none;
    }
}

/* Phone */
@media (max-width: 767px) {
    /* Left */
    .logo-image {
        width: 40px;
        height: 40px;
        margin: 0 24px;
    }
    .line-image {
        display: none;
    }

    /* Right */
    nav {
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1;
        transition: transform 350ms ease-out;
        align-items: flex-start;
        padding: 133px 0 0 32px;
        width: 70vw;
        background-color: rgba(11, 13, 23, 0.15);
    }
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2;
        background: url("/space-tourism/assets/shared/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 3rem;
        aspect-ratio: 1;
        top: 2.3rem;
        right: 1rem;
        border: none;
    }
    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("/space-tourism/assets/shared/icon-close.svg");
        background-repeat: no-repeat;
        width: 3rem;
        aspect-ratio: 1;
    }
    .mobile-nav-toggle span {
        visibility: hidden;
    }
    .nav-hidden {
        transform: translateX(100%);
    }
    .nav-visible {
        transform: translate(0%);
    }
    #primary-navigation {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    #primary-navigation li {
        height: 100%;
        border-bottom: none;
        border-right: 3px solid transparent;
        padding-top: 0;
    }
    #primary-navigation li:hover {
        border-bottom: none;
        border-right: 3px solid rgba(255, 255, 255, 50%);
    }
    
    #primary-navigation a.active li {
        border-bottom: none;
        border-right: 3px solid white;
    }
    nav a { 
        width: 100%;
    }
    
}