.crew-tab-content {
    padding-top: 40px;
    padding-bottom: 24px;
}

.crew-tab-content h2 {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.crew-tab-content h1 {
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.crew-tab span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 0.5rem; /* 8 + 8 -> 16px in between */
    background-color: rgba(151, 151, 151, 0.2);
}

.crew-tab span:hover {
    background-color: rgba(151, 151, 151, 0.5);
}

.crew-tab a.active span {
    background-color: var(--white);
}

.bottom-img-content {
    position: relative;
}

.bottom-img-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0c0e17); 
}

.crew-img {
    height: auto;
    width: 270px;
}

/* Tablet */
@media (min-width: 768px) {
    .crew-tab-content {
        max-width: 512px;
        text-align: center;
        margin: 0 auto 24px;
    }
    .crew-tab-content h2 {
        margin-bottom: 1rem;
    }
    .bottom-img-content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 464px;
        width: 100%;
        overflow: hidden;
    }
    .crew-img {
        height: 500px;
        width: auto;
    }
    .bottom-img-content::after {
        content: none;
    }
}

/* Desktop */
@media (min-width:1024px) {
    .crew-tab-content, .crew-bottom-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .crew-main {
        margin: 0 auto;
        max-width: 1110px;
    }
    .crew-top-content {
        display: flex;
        flex-direction: column;
        height: 734px;
    }
    .crew-tab-content {
        margin-bottom: 40px;
        max-width: 100%;
        text-align: left;
        flex: 1;
        padding: 0;
    }
    .crew-tab {
        padding-bottom: 48px;
        text-align: left;
        width: 100%;
    }
    .crew-tab span {
        width: 15px;
        height: 15px;
        margin-left: 0;
        margin-right: 2.5rem;
    }
    .crew-bottom-content {
        width: 100%;
        overflow: visible;
    }
    .bottom-img-content {
        position: relative;
        height: 676px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow: visible;
    }
    .crew-img {
        max-width: 110%;
        height: auto;
    }     
    .bottom-img-content::after {
        content: '';
        left: -16px;
        width: 110%;
    }
}